/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif;
	/*outline: 2px solid red;*/
}
header{
   
    width: 100%;
	height: 60vh;
	background-repeat: no-repeat;
   position:static; 

}
nav.navbar {
    background-color: #fff;
}
#menu ,#title{
	color: #000;
}

.hero-section{
	width: 100%;
	height: 100vh;
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
   

}
#caja{
	width: 100%;
    height: 300px;
	background: #f7b617;
	margin-left: 60%;
	
}
input{
	    border-top-style: none;
        border-left-style:none;
        border-right-style: none;
        background: transparent;
}

.text-crem{
	color: #f4f0bb;
	left: 200%;
}



/* *************************************************PRIMERA SECCION*/

#seccion-1{
	width: 100%;
	height: 550px;
	margin-top: 20%;
	background: #f7b617;
} 

#seccion-1 h1{
  color: #fff;
  text-align: center;
}
#seccion-1 p {
  color: #fff;
  text-align: center;
}
#borde{
	border-color: 2px  white solid ;
	border-style: solid;
	margin-top: 7%;
	font-size: 15px;
}


/*================================================TERCERA SECCION*/

#seccion-2 { 
    width: 100%;
	height: 90vh;
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
#seccion-2 h1,p{
	color: #f4f0bb;
    text-align:center;
    margin-top: 60px;
}
#fondo-oscuro{
	height: 80px;
	background:rgba(0,0,3,0.8);
	height:100vh;
	text-align: center;
	color: #fff;
	
}
#seccion-2 .container{
	margin-left: 65%;
}
#seccion-2 button{
	background: #f7b617;
	color: #fff;
}
/*================================================CUARTA SECCION*/

#seccion-3{
	width: 100%;
	height: 80px;
    background: #f4f0bb;
    text-align: center;
}
#seccion-3 p {
	color: #da2c38;
	text-align: center;
}
#seccion-3 h1 {
	color: #da2c38;
	text-align: center;
}
.glyphicon {
	margin-top: 30px;
	font-size: 80px;
	color: #da2c38;
}
.icon{
		font-size: 90px;
		background-position: center;
		color: #da2c38;
		margin-top: 5px;
}

/*================================================CUARTA SECCION*/
footer{
	width: 100%;
	height: 50px;
	background:#da2c38; 
    color: #f4f0bb

}









